{% extends bap.layout %}
{% import 'PimUIBundle:Default:page_elements.html.twig' as elements %}

{% block head %}
    <title>fdsfdsfdsfsdsfds</title>
    <script id="page-title" type="text/html">{{ oro_title_render() }}</script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}

{% block page_container %}
    {% block content %}{% endblock %}
    <script type="text/javascript">
        $(document).ajaxComplete(function () {
            document.title = "Akeneo Cron Management"; // @TODO ugly temporary solution
        });
        $(document).ready(function () {

            document.title = "Akeneo Cron Management"; // @TODO ugly temporary solution

            $(".collapse").collapse();
            $('.time-input, .command-preset, .time-menu, .log-preset').tooltip({});
            $('.command-preset').on('click', function () {
                $('#cron_command').val($(this).attr('value'));
            });
            $('.log-preset').on('click', function () {
                var $button = $(this);
                $button.parent().parent().find('input').val($button.attr('value'));
            });
            $('.modal-link').on('click', function (e) {
                e.preventDefault();
                var $link = $(this);
                $.getJSON($link.attr('href'), function (data) {
                    var $modal = $('#modal');
                    $modal.find('.modal-header h3').text(data.file);
                    $modal.find('.modal-body pre').text(data.content);
                    $modal.modal({
                        backdrop: true,
                        keyboard: true
                    });
                });
            });
        });
    </script>
{% endblock %}
