{% extends 'FOACronBundle::layout.html.twig' %}

{% trans_default_domain "messages" %}

{% block content %}
    <div class="navigation clearfix navbar-extra">
        <div class="row-fluid">
            <div class="navbar-content pull-left">
                <div class="navbar-title clearfix-oro">
                    <div class="sub-title">Edit Cron</div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="navbar-content pull-left">
            </div>
        </div>
    </div>
    <section id="edit-cron" class="container-fluid">
        <form method="post" action="{{ path('foa_cron_edit', {'id':index}) }}">
            {% include 'FOACronBundle:Dashboard:form.html.twig' with {'form': form} %}
            <input type="submit" class="btn btn-success btn-lg" value="{{ 'cron.edit'|trans }}"/>
        </form>

    </section>
{% endblock %}
