.command-input {
    padding-top: 20px;
}

.time-menu .caret {
    margin-top: 10px;
}

#add-cron .error label {
    color: #B94A48;
}

#add-cron .tooltip {
    font-size: 20px;
    line-height: 26px;
}

#existing-crons .table th, .table td {
    vertical-align: middle;
}

#existing-crons .table th i {
    margin-right: 5px;
}

table td pre {
    white-space: pre-wrap;
}

.glyphicon-white, .glyphicon-white a {
    color: #fff;
}

#log-content pre {
    font-size: x-small;
}

.cron-items {
    display: flex;
    width: 700px;
}

.cron-item {
    width: 15%;
}
